* {
    margin: 0;
  outline: transparent 1px;
  }
  body {
    font-family: arial;
  }
  nav {
    background-color: transparent;
    padding-bottom: 1.5rem;
  }
nav.menu{
  position:absolute;
  right:20px;
}
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    font-family: ARIAL;
    font-size: 15px;
    color: BLACK  ;
    text-decoration: none;
  }
a.cta{
  background:#024a86;
  color:white;
  padding: 8px;
  border-radius:16px;
}
  .grid-navbar{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 1.5rem;

  }
  .ml-brand{
    margin-left: 10px;
  }

  /* BUTTON SIGNUP */
  .button-navbar {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    height: 45px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    /* BORDER RADIUS */
    border-radius: 28px 28px 28px 28px;
  -moz-border-radius: 28px 28px 28px 28px;
  -webkit-border-radius: 28px 28px 28px 28px;
  background: #024a86;
    cursor: pointer;
  }

  /*Landing*/

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.title-landing{
    font-size: 30px;
  font-weight: bold;
}
.mt-description{
    text-align: center;
}
.description-landing{
    font-size: 16px;
}
/* BUTTON VER COMPONENTS */
.button-landing {
    display: inline-block;
    font-weight: bold;
    color: white;
    height: 45px;
    text-align: center;
    padding: 0 32px;
    font-size: 16px;
    /* BORDER RADIUS */
    border-radius: 28px;
   background: #024a86;
  cursor:pointer;
  }

  
  .mt-description{
      margin-top: 130px;
  }

.logo{
  width: 90px;
}