* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: solid 1px red;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Helvetica", serif;
  font-size: 15px;
  overflow-x: hidden;
  min-width: 320px;
}

a {
  text-decoration: none;
}

#hidden-nav,
#hidlabel {
  display: none;
}

/*-------- Top nav --------*/
.topnav {
  background-color: #d7d7d7;
  position: sticky;
  top: 0px;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: left;
  font-weight: light;
  list-style-type: none;  
}

.menu a {
  color: solid grey;
  transition: color 0.6s ease;
}

.menu > li {
  width: 15vw;
  margin: 10px 0;
  text-align: center;
  font-weight: 400;
  line-height: 55px;
  border-right: 1px solid grey;
}

.menu > li:hover a {
  color: #b83718;
}

.menu > li:last-child {
  border-right: none;
}

.menu p {
  color: goldenrod;
  position: absolute;
  left: 1vw;
}

/*------- 1 --------*/
.home {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.head {
  background-image: url("https://pbs.twimg.com/media/E2_2goUXoAMH8Fd?format=jpg&name=medium");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-position: right top;
  color: white;
  height: 400px;
  text-align: center;
  display: flex;
}

#head-card {
  height: 200px;
  text-align:left;
  position:relative;
  top:100px;
  left:100px;
}

#head-card h2 {
  color: #dd8116;
}

.buy-btn {
  display:inline-block;
  color: white;
  margin-top: 20px;
  padding: 20px;
  font-weight: bold;
  font-size: 1.14em;
  background-color: #b83718;
  border-radius: 10px;
  transition: background-color 0.6s ease;
}

/*-------- 2 --------*/
.price {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  background-color: white;
  padding: 20px;
  height: auto;
  z-index: 1;
}

.price h2 {
  color: black;
  font-size: 1.8em;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: left;
}

/*------- 3 -------*/
.footer {
  background-color: #1e1e1e;
  color: white;
  first-line: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  height: auto;
  padding: 60px;
  line-height: 30px;
}
h1 {
  color: #b83718;
  margin-left: 0px;
  font-size: 20px;
  line-height: 40px;
}
.invite {
  padding-top: 30px;
}
.form {
  align-items: left;
  background-color: none;
}

