:root {
  --color-bg: #FFF;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 200px;
  --image-margin: 2rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
color:#000
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

.btn--remix {
  font-family: ;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 5px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #D0FFF1;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}

body {
  font-family: IBM Plex Sans, sans-serif;
  background-color: var(--color-bg);
}

.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

.title {
  color: #ffffff;
  familia de fuentes: 'Monoton', cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
  aling-items: center;
}
.row { font-family:Roboto;
  Color: #FFF;
  position: relative;
  top: -300px;
left:550px;}


button,
input {
  font-family: Roboto;
  font-size: 100%; 
  
  background: #4998DE;
  border: 3px solid #8053FA;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0.2rem 1rem;
  transition: 500ms;
}
.rotated {
  transform: rotate(360deg);
}

*{
margin:0px;
padding:0px;
}

#barra-superior {
            margin:auto;
            width:100%;
            background:#4998DE;
            height:40px; 
            border-bottom: 5px solid #8053FA; 
            position:fixed; 
            z-index:101; 
            }

            ul, ol {
            list-style:none;
            }

            .menu > li {
            float:right;
            }

            .menu{
            margin:0 auto;
            width:1200px; /*Ancho del menú dentro de la barra, variaremos este valor hasta conseguir el que buscamos*/
            }

            .menu li a {
            color:#ffffff; 
            font:normal normal 15px Roboto; 
            text-transform:uppercase; 
            letter-spacing: 3px; 
            text-decoration:none;
            padding:15px 5px;
            display:block;
            cursor:pointer;
            }

            .menu li a:hover {
            color: #FAF667; 
            }

* {box-sizing:border-box}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
{
  background-color: #ffdd90;
  background-image: url "https://images.pexels.com/photos/2078008/pexels-photo-2078008.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
}
